.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
}
.statusOnline {
  width: 50px;
  height: 10px;
  color: green;
}
.statusOffline {
  width: 50px;
  height: 10px;
  color: red;
}
.avatar {
  width: 85px;
  height: 85px;
  /* border-radius: 24px; */
  margin-bottom: 10px;
}

.name {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}
