.transactionHistory {
  width: 100%;
  border-collapse: collapse;
}

.transactionHistory th,
.transactionHistory td {
  border: 1px solid #ddd;
  padding: 8px;
}

.transactionHistory th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
